[submodule "wireservers"]
	path = wireservers
	url = https://dev.azure.com/wireservers/architecture/_git/website
	branch = main
[submodule "apis/food-api"]
	path = apis/food-api
	url = https://dev.azure.com/wireservers/architecture/_git/food-api
	branch = main
[submodule "apis/wsapi"]
	path = apis/wsapi
	url = https://dev.azure.com/wireservers/architecture/_git/wsapi
	branch = main
[submodule "packages/react-natives"]
	path = packages/react-natives
	url = https://dev.azure.com/wireservers/architecture/_git/react-natives
	branch = main
[submodule "bringthe/bring-the-diet"]
	path = bringthe/bring-the-diet
	url = https://dev.azure.com/wireservers/BringThe/_git/bring-the-diet
[submodule "bringthe/bring-the"]
	path = bringthe/bring-the
	url = https://dev.azure.com/wireservers/BringThe/_git/bring-the
[submodule "wireservers-security"]
	path = wireservers-security
	url = https://dev.azure.com/wireservers/architecture/_git/security
	branch = main
[submodule "bringthe/bring-the-budget"]
	path = bringthe/bring-the-budget
	url = https://dev.azure.com/wireservers/BringThe/_git/bring-the-budget
[submodule "packages/next-natives"]
	path = packages/next-natives
	url = https://dev.azure.com/wireservers/architecture/_git/next-natives
	branch = main
[submodule "wireservers-template"]
	path = wireservers-template
	url = https://dev.azure.com/wireservers/architecture/_git/wireservers-template
	branch = main
[submodule "bringthe/bring-the-crafts"]
	path = bringthe/bring-the-crafts
	url = https://dev.azure.com/wireservers/BringThe/_git/bring-the-crafts
	branch = develop
[submodule "bringthe/bring-the-garden"]
	path = bringthe/bring-the-garden
	url = https://dev.azure.com/wireservers/BringThe/_git/bring-the-garden
	branch = develop
[submodule "bringthe/bring-the-games"]
	path = bringthe/bring-the-games
	url = https://dev.azure.com/wireservers/BringThe/_git/bring-the-games
	branch = develop
[submodule "bringthe/bring-the-fitness"]
	path = bringthe/bring-the-fitness
	url = https://dev.azure.com/wireservers/BringThe/_git/bring-the-fitness
	branch = develop
[submodule "bringthe/bring-the-events"]
	path = bringthe/bring-the-events
	url = https://dev.azure.com/wireservers/BringThe/_git/bring-the-events
	branch = develop
[submodule "bringthe/bring-the-habits"]
	path = bringthe/bring-the-habits
	url = https://dev.azure.com/wireservers/BringThe/_git/bring-the-habits
	branch = develop
[submodule "bringthe/bring-the-health"]
	path = bringthe/bring-the-health
	url = https://dev.azure.com/wireservers/BringThe/_git/bring-the-health
	branch = develop
[submodule "bringthe/bring-the-learn"]
	path = bringthe/bring-the-learn
	url = https://dev.azure.com/wireservers/BringThe/_git/bring-the-learn
	branch = develop
[submodule "bringthe/bring-the-music"]
	path = bringthe/bring-the-music
	url = https://dev.azure.com/wireservers/BringThe/_git/bring-the-music
	branch = develop
[submodule "bringthe/bring-the-projects"]
	path = bringthe/bring-the-projects
	url = https://dev.azure.com/wireservers/BringThe/_git/bring-the-projects
	branch = develop
[submodule "bringthe/bring-the-pets"]
	path = bringthe/bring-the-pets
	url = https://dev.azure.com/wireservers/BringThe/_git/bring-the-pets
	branch = develop
[submodule "bringthe/bring-the-travel"]
	path = bringthe/bring-the-travel
	url = https://dev.azure.com/wireservers/BringThe/_git/bring-the-travel
	branch = develop
[submodule "bringthe/bring-the-recipes"]
	path = bringthe/bring-the-recipes
	url = https://dev.azure.com/wireservers/BringThe/_git/bring-the-recipes
	branch = develop
[submodule "bringthe/bring-the-list"]
	path = bringthe/bring-the-list
	url = https://dev.azure.com/wireservers/BringThe/_git/bring-the-list
	branch = develop
[submodule "bringthe/bring-the-reads"]
	path = bringthe/bring-the-reads
	url = https://dev.azure.com/wireservers/BringThe/_git/bring-the-reads
	branch = develop
