[submodule "wireservers"]
	path = wireservers
	url = https://github.com/wireservers/website.git
[submodule "apis/food-api"]
	path = apis/food-api
	url = https://github.com/wireservers/food-api.git
[submodule "apis/wsapi"]
	path = apis/wsapi
	url = https://github.com/wireservers/wsapi.git
[submodule "packages/react-natives"]
	path = packages/react-natives
	url = https://github.com/wireservers/wireservers-ui.git
[submodule "bringthe/bring-the-diet"]
	path = bringthe/bring-the-diet
	url = https://github.com/wireservers/bring-the-diet.git
[submodule "bringthe/bring-the"]
	path = bringthe/bring-the
	url = https://github.com/wireservers/bring-the.git
[submodule "wireservers-security"]
	path = wireservers-security
	url = https://github.com/wireservers/security.git
[submodule "bringthe/bring-the-budget"]
	path = bringthe/bring-the-budget
	url = https://github.com/wireservers/bring-the-budget.git
